{% extends "ews_list/base.html" %}

{% block title %}
   Confirm Delete Ewsitem #{{ object.id }}
{% endblock  %}

{% block body %}
  <h2>Confirm delete "{{ object.id }}"</h2>
  <p>
    Are you sure you want to delete Ewsitem
    from sender <i> {{ object.sender }} </i>
    <code> {{ object.email_title }} </code> ?
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Delete</button>
  </form>

  <div>
    <a href="{% url 'ews_list:detail' object.pk %}"
    >Back to EWS item detail</a>
  </div>
{% endblock %}