{% extends "ews_list/base.html" %}

{% block title %}
   #{{ object.pk }}
{% endblock  %}

{% block body %}
  <h1>EWS List Приложение</h1>
  {% comment %}  <p>Вывод списка женщин списком в шаблон Django</p> {% endcomment %}
  <ul>
    <li><a href="{% url 'ews_list:list' %}">All EWS items</a></li>
    {% comment %}  <li><a href="{% url 'ews_list:done' %}">Done EWS items</a></li> {% endcomment %}
    <li><a href="{% url 'ews_list:add' %}">Add EWS item</a></li>
  </ul>
  <h3>EWS Item ADD:</h3>
  <div>
    <form method="post" enctype="multipart/form-data">

        <!-- Security token -->
        {% csrf_token %}

        <!-- Using the formset -->
        {{ form.as_p }}

        <input type="submit" value="Submit">
    </form>
   <br>
   <br>
  </div>
{% endblock body %}