{% extends "ews_list/base.html" %}

{% block title %}
  EWS List
{% endblock  %}

{% block body %}
  <h2>EWS List Приложение</h2>
  {% comment %}  <p>Вывод списка женщин списком в шаблон Django</p> {% endcomment %}
  <ul>
    <li><a href="{% url 'ews_list:list' %}">All EWS items</a></li>
    {% comment %}  <li><a href="{% url 'ews_list:done' %}">Done EWS items</a></li> {% endcomment %}
    <li><a href="{% url 'ews_list:add' %}">Add EWS item</a></li>
  </ul>
  <h3>Exchange Web Services:</h3>
  {% include 'ews_list/components/ews_items_list.html' %}
{% endblock body %}
