{% extends "ews_list/base.html" %}

{% block title %}
  EWS List
{% endblock  %}

{% block body %}
  <h2>EWS List Приложение</h2>
  <ul>
    <li><a href="{% url 'ews_list:list' %}">All EWS items</a></li>
    <li><a href="{% url 'ews_list:add' %}">Add EWS item</a></li>
    {% comment %} <li><a href="{% url 'ews_list:update' %}">Update EWS item</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ews_list:delete' %}">Delete EWS item</a></li> {% endcomment %}
    {% comment %} <li><a href="{% url 'ews_list:done' %}">Done EWS items</a></li> {% endcomment %}
  </ul>
  <h3>Exchange Web Services:</h3>
  {% include 'ews_list/components/ews_items_list.html' %}
{% endblock body %}
