{% extends "ews_list/base.html" %}

{% block title %}
  Exchange Web Services
{% endblock  %}

{% block body %}
  {% filter upper%}
    <h2>EWS List Приложение</h2>
  {% endfilter%}
  {% comment %}  <p>Вывод всех email-сообщений в шаблон Django</p> {% endcomment %}
  <ul>
    <li><a href="{% url 'ews_list:list' %}">All EWS items</a></li>
    {% comment %}  <li><a href="{% url 'ews_list:done' %}">Done EWS items</a></li> {% endcomment %}
    <li><a href="{% url 'ews_list:add' %}">Add EWS item</a></li>
  </ul>

  <h3>Exchange Web Services (EWS):</h3>
  {% include 'ews_list/components/ews_items_list.html' %}
{% endblock body %}
