{% extends "women/base.html" %}

{% block title %}
  ToDo #{{ object.pk }}
{% endblock  %}

{% block body %}
  <h2>Women List Приложение</h2>
  <ul>
    {% comment %}  <p>Вывод списка женщин списком в шаблон Django</p> {% endcomment %}
    <li><a href="{% url 'women:list' %}">All Women</a></li>
    <li><a href="{% url 'women:add' %}">Add Women</a></li>
  </ul>
  <h3>Women:</h3>
  <div>
    <div>Title: <strong>{{ object.title }}</strong></div>
    <div>Content: <strong>{{ object.content }}</strong></div>
    <div>Publsihed: <strong>{{ object.is_published }}</strong></div>
    <div>Category: <strong>{{ object.cat }}</strong></div>
  </div>
  <br>
{% endblock body %}
