{% extends "women/base.html" %}

{% block title %}
  Womens List
{% endblock  %}

{% block body %}
  <h2>Employees List Приложение</h2>
  <ul>
    {% comment %}  <p>Вывод списка женщин списком в шаблон Django</p> {% endcomment %}
    <li><a href="{% url 'women:list' %}">All Employees</a></li>
    <li><a href="{% url 'women:add' %}">Add employee</a></li>
  </ul>
  <h3>Create new employee:</h3>
  <form method="post" >
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Add" />
  </form>
  {% comment %} {% include 'women/components/women_list.html' %} {% endcomment %}
{% endblock body %}