{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'drfsite/css/drfsite.css' %}" />

{% block title %}
 Project Workspace
{% endblock title %}

{% block body %}
<!--<h1>Добро пожаловать в наше приложение!</h1>-->
<h2>Приложение Project Workplace</h2>
<h4>Приложение для автоматизации учета проектных запросов на IT-оборудование для пресейлов 
проектной группы компании и расчета эффективности работы в условиях «неоднородности» исходных данных»</h4>
<h5> {% now "jS F Y"%}</h5>
{% endblock body %}
